@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Orbitron';
    display: grid;
<<<<<<< HEAD
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(4, 1fr) 300px;
    height: 100vh;
    margin: 0;
    justify-content: center;
    grid-template-areas:
        " n "
        " g "
        " a "
        " t "
        " c "
        " f ";
}

/* .left {
    grid-area: l;
    background-image: url(wallpaper.jpg);
    height: 100%;
    width: 150px;
}

.right {
    grid-area: r;
    background-image: url(wallpaper.jpg);
    height: 100%;
    width: 150px;

} */
=======
    height: 100vh;
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto auto auto auto 300px;
    grid-template-areas:
        "nav"
        "main"
        "who"
        "about"
        "team"
        "contact"
        "footer";
}

.nav {
    grid-area: nav;
    background-color: gray;
}

.who-are-we {
    display: flex;
    grid-area: who;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
>>>>>>> 6463756c4352901c4d47e5a6f1fea71913fbc14a

.who-are-we h1 {
    font-size: 4.5rem;
}

.main {
    grid-area: main;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
<<<<<<< HEAD
    align-content: center;

}

.group-pic-container>img {
    height: 400px;
    margin-top: 10rem;
    box-shadow: 3px 3px;
    margin-bottom: 20rem;
    border: double;
    border-width: 15px;
    margin-left: 35px;
    margin-right: 35px;

}

.group-pic-container>h1 {
    height: 600px;
    margin-top: 10rem;
    margin-bottom: 20rem;
    width: 300px;
    font-size: 80px;
    margin-left: 10px;
    height: 40px;
}

.about-us-container {
    display: flex;
    grid-area: a;
    width: 80rem;
    height: 700px;
    justify-self: center;
=======
    justify-self: center;
    width: 100%;
    background-image: url(wallpaper.jpg);
    padding: 40px;
    align-items: center;
    box-shadow: inset 0 -10px 10px -1px white;
}
>>>>>>> 6463756c4352901c4d47e5a6f1fea71913fbc14a

.group {
    max-height: 600px;
    border-radius: 30px;
}

.main>h1 {
    font-size: 80px;
    width: 300px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

.about-us {
<<<<<<< HEAD
    display: flex;
    background: linear-gradient(#0075BE);
    background-color: #0075BE;

    /* border-style: double; */
    justify-content: space-evenly;
    width: 100%;
    border-top: double;
    border-width: 15px;
=======
    grid-area: about;
    background-color: #0075BE;
    background: linear-gradient(white, #0075BE 2%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    min-height: 650px;
>>>>>>> 6463756c4352901c4d47e5a6f1fea71913fbc14a
}

.about-us-text {
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
    width: 700px;
<<<<<<< HEAD
    width: 100%;

=======
    border: double;
    padding: 10px;
    align-self: center;
    border-width: 15px;
    box-shadow: -8px 8px 0px 0px;
>>>>>>> 6463756c4352901c4d47e5a6f1fea71913fbc14a
}

.about-us-text h2,
.team-members h2 {
    font-size: 2.5rem;
}

.about-us-text p,
.team-members p {
    font-size: 2rem;
}

.squirtle {
    height: 500px;
    align-self: center;
}

.team-members {
    box-sizing: border-box;
    grid-area: team;
    background: linear-gradient(#0075BE, #ffcb05 2%);
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: 650px;
    justify-content: space-evenly;
<<<<<<< HEAD
    font-size: 2.5rem;
    background-color: #ffcb05;
    background: linear-gradient(#ffcb05 90%, #FB1B1B);
    text-align: center;
    background-color: rgb(225, 255, 0);

=======
>>>>>>> 6463756c4352901c4d47e5a6f1fea71913fbc14a
    width: 100%;
}

.team-members-text {
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
    width: 700px;
    border: double;
    align-self: center;
    border-width: 15px;
    box-shadow: 8px 8px;
}

.name-list {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    flex-direction: column;
}

.name-list li {
    width: 400px;
    align-self: center;
    margin: 20px;
}

.pikachu {
    height: 500px;
    align-self: center;
}

.contact-us {
    box-sizing: border-box;
    grid-area: contact;
    font-size: 2.5rem;
<<<<<<< HEAD
    background-color: #FB1B1B;
    text-align: center;
    /* background: radial-gradient(#ffcb05, #0075BE); */
=======
    background: linear-gradient(#ffcb05, #FB1B1B 2%);
    min-height: 1000px;
>>>>>>> 6463756c4352901c4d47e5a6f1fea71913fbc14a
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-items: center;
}

.form {
    border: double;
    display: flex;
    flex-direction: column;
    height: 700px;
    border-width: 15px;
    box-shadow: -8px 8px 0px 0px;
    width: 900px;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-left: 40px;
}

.form-text {
    text-align: center;
}

.first-name,
.last-name,
.email,
.comment {
    font-family: 'Orbitron';
}

.first-name {
    grid-area: first;
    height: 30px;
    font-size: 2rem;
    border: solid;
    border-width: 4px;
    margin: 10px;
    width: 500px;
}

.last-name {
    grid-area: last;
    height: 30px;
    font-size: 2rem;
    border: solid;
    border-width: 4px;
    margin: 10px;
    width: 500px;
}

.email {
    grid-area: email;
    height: 30px;
    font-size: 2rem;
    border: solid;
    border-width: 4px;
    margin: 10px;
    width: 500px;
}

.comment {
    grid-area: comment;
    font-size: 2rem;
    border: solid;
    border-width: 4px;
    margin: 10px;
    height: 100%;
    max-width: 830px;
    resize: none;
}

.charmander {
    height: 500px;
}

footer {
<<<<<<< HEAD
    text-align: center;
    grid-area: f;
    background-color: black;
=======
    position: relative;
    display: flex;
    box-sizing: border-box;
    grid-area: footer;
    background-color: #000000;
    width: 100%;
    color: white;
    justify-content: center;
>>>>>>> 6463756c4352901c4d47e5a6f1fea71913fbc14a
}

.footer-group {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    position: relative;
}

.pokeball {
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 50px
}

.footer-logo {
    width: 200px;
    height: 200px;
}

.copyright {
    position: relative;
    bottom: 50px;
}

.footer-ul {
    position: relative;
    display: flex;
    list-style-type: none;
    justify-content: center;
    bottom: 70px;
    right: 25px;
    box-sizing: border-box;
    font-size: 20px;
}

.footer-link {
    border-right: solid;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

.footer-last-link {
    border-right: none;
    padding-left: 20px;
    text-transform: uppercase;
}