@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: gray;
    font-family: 'Orbitron';
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 100px repeat(8, 1fr) 200px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    grid-template-areas:
        "l n n n n n n n n n n n n r"
        "l a a a a a . . t t t t t r"
        "l a a a a a . . t t t t t r"
        "l a a a a a . . t t t t t r"
        "l a a a a a . .  t t t t t r"
        "l . c c c c c c c c c c . r"
        "l . c c c c c c c c c c . r"
        "l . c c c c c c c c c c . r"
        "l . c c c c c c c c c c . r"
        "l f f f f f f f f f f f f r"
}

.left {
    grid-area: l;
    background-image: url(wallpaper.jpg);
    height: 100%;
    width: 200px;
    justify-items: start;
}

.right {
    grid-area: r;
    background-image: url(wallpaper.jpg);
    height: 100%;
    width: 200px;
}

.About-Us {
    background: linear-gradient(90deg, #0075BE, #ffcb05);
    text-align: center;
    grid-area: a;
    border-radius: 20px;
}

.Team-Members {
    background-color: #ffcb05;
    text-align: center;
    grid-area: t;
}

.Contact-Us {
    text-align: center;
    background: linear-gradient(#ffcb05, #0075BE);
    grid-area: c;
}

.Nav {
    background-color: rgb(255, 255, 255);

    grid-area: n;
}

footer {
    text-align: center;

    grid-area: f;
    background-color: rgb(255, 255, 255);
    margin-left: 0;
}

header {
    overflow: hidden;
}